<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kline-trainer.cleanup-logs</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/lin/dev/KlineTrain/scripts/cleanup-logs.sh</string>
        <string>--all</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Day</key>
        <integer>7</integer>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>WorkingDirectory</key>
    <string>/Users/lin/dev/KlineTrain</string>
    
    <key>StandardOutPath</key>
    <string>/Users/lin/dev/KlineTrain/scripts/logs/cleanup-logs.out</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/lin/dev/KlineTrain/scripts/logs/cleanup-logs.err</string>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>